<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="">
        <div class="aHl"></div>
        <div id=":1g1" tabindex="-1"></div>
        <div id=":1fq" class="ii gt">
            <div id=":1fp" class="a3s aXjCH msg3607907747778195884"><u></u>
                <div>
                    <table align="center" height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="690" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr bgcolor="#ffffff">
                                                <td align="center" width="100%">
                                                    <table align="center" width="690" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" height="16" colspan="2"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" width="300">
                                                                    <a href="https://www.freelancer.com/?uniqid=30265865-34056-5c38dbba-0026bda6&amp;linkid=0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.freelancer.com/?uniqid%3D30265865-34056-5c38dbba-0026bda6%26linkid%3D0&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNFZcAmluyeDwAuUXEzfuZZBZ_Sb4w"><img src="https://ci4.googleusercontent.com/proxy/a_S-2LZCZJCGbD3Tajp2mqlWdpw6NY2kOYo2uZnqknDijOnB4MMFnRnnm5t3RFj2uzYGGcvw_I24SAtHVIYiRq7KIgE4jv2AnPk4rNHXwgSteCKcZotNnMyYrsQne2_ruehSQsrwGoY0U09fU4gNujnuIpwe=s0-d-e1-ft#https://cdn3.f-cdn.com/img/email-images/common/logo_300.png?v=834faebc40fa464bac75aca01de49a50&amp;m=6"
                                                                            alt="Freelancer" border="0" width="150" style="display:block" class="CToWUd"></a>
                                                                </td>
                                                                <td width="300" align="right" valign="middle" style="color:#75787d;text-decoration:none;font-size:14px;line-height:18px;font-family:Helvetica,Arial,sans-serif"><span style="font-weight:bold">Notification</span><br> January 11, 2019
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="100%" height="16" colspan="2"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" width="100%">
                                                    <table width="690" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="border:1px solid #dedede;border-radius:3px">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" valign="top">
                                                                    <table width="560" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="100%" height="56"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" width="100%" style="text-align:left"><span style="color:#0e1724;text-decoration:none;font-size:20px;line-height:20px;font-family:Helvetica,Arial,sans-serif">Hi ##name## ,</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%" height="24"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" width="100%" style="color:#0e1724;text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:28px">
                                                                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td><b>Account information changed successfully from IP: 43.243.214.2</b>
                                                                                                    <p>
                                                                                                        Your username: <b>##myname##</b></p>
                                                                                                    <p>
                                                                                                        To change account settings you can open <a href="https://www.freelancer.com/users/settings.php?uniqid=30265865-34056-5c38dbba-0026bda6&amp;linkid=1"
                                                                                                            target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.freelancer.com/users/settings.php?uniqid%3D30265865-34056-5c38dbba-0026bda6%26linkid%3D1&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNETs5WFGNWjecgGLvEdwjh5eGOfaw">https://www.<span class="il">freelancer</span>.com/<wbr>users/settings.php</a></p>
                                                                                                    <p>
                                                                                                        Open projects are available at <a href="https://www.freelancer.com/job/?uniqid=30265865-34056-5c38dbba-0026bda6&amp;linkid=2" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.freelancer.com/job/?uniqid%3D30265865-34056-5c38dbba-0026bda6%26linkid%3D2&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNGegduaeEtVvL__a8SEJoY3sd5Yhw">https://www.<span class="il">freelancer</span>.com/<wbr>job/</a></p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%" height="56"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tbody>
                            <tr>
                                <td width="100%" align="center">
                                    <table width="650" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="100%" height="32"></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><a style="color:#75787d;text-decoration:none;font-size:12px;line-height:18px;font-family:Helvetica,Arial,sans-serif">
                                    © 2019 <span class="il">Freelancer</span> Technology Pty Limited. All Rights Reserved.                <br>
                    Level 20, 680 George Street, Sydney, NSW 2000, Australia              </a></td>
                                            </tr>
                                            <tr>
                                                <td height="8" width="100%"></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><span style="color:#75787d;font-size:12px;line-height:18px"><a href="https://www.freelancer.com/page.php?p=info%2Fprivacy&amp;uniqid=30265865-34056-5c38dbba-0026bda6&amp;linkid=3" style="color:#75787d;text-decoration:underline;font-family:Helvetica,Arial,sans-serif" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.freelancer.com/page.php?p%3Dinfo%252Fprivacy%26uniqid%3D30265865-34056-5c38dbba-0026bda6%26linkid%3D3&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNGvWhWDIF-ItBuH6EhwMuX-Q22w-A">Privacy Policy</a> |
                    <a href="https://www.freelancer.com/page.php?p=info%2Fterms&amp;uniqid=30265865-34056-5c38dbba-0026bda6&amp;linkid=4" style="color:#75787d;text-decoration:underline;font-family:Helvetica,Arial,sans-serif" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.freelancer.com/page.php?p%3Dinfo%252Fterms%26uniqid%3D30265865-34056-5c38dbba-0026bda6%26linkid%3D4&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNHhuZko7AhavCdl18i9FFG97W5amA">Terms and Conditions</a> |
                    <a href="https://www.freelancer.com/users/email/subscriptions.php?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkZyZWVsYW5jZXJcXEdBRlxcQ29yZVxcSldUXFxKV1QifQ.eyJpZCI6IjMwMjY1ODY1Iiwic3ViIjoidW5zdWJzY3JpYmUiLCJpYXQiOjE1NDcyMzAxMzh9.6yBODhFS_iNlfbcr66NUGohLam7a70TlDru3pCSko1g&amp;target_setting=staff_message&amp;uniqid=30265865-34056-5c38dbba-0026bda6&amp;linkid=5" style="color:#75787d;text-decoration:underline;font-family:Helvetica,Arial,sans-serif" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.freelancer.com/users/email/subscriptions.php?token%3DeyJhbGciOiJIUzI1NiIsInR5cCI6IkZyZWVsYW5jZXJcXEdBRlxcQ29yZVxcSldUXFxKV1QifQ.eyJpZCI6IjMwMjY1ODY1Iiwic3ViIjoidW5zdWJzY3JpYmUiLCJpYXQiOjE1NDcyMzAxMzh9.6yBODhFS_iNlfbcr66NUGohLam7a70TlDru3pCSko1g%26target_setting%3Dstaff_message%26uniqid%3D30265865-34056-5c38dbba-0026bda6%26linkid%3D5&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNEsqb3U1p1N0rkwhyELs10uMQGg2A">Unsubscribe</a> |
                    <a href="https://www.freelancer.com/support?uniqid=30265865-34056-5c38dbba-0026bda6&amp;linkid=6" style="color:#75787d;text-decoration:underline;font-family:Helvetica,Arial,sans-serif" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.freelancer.com/support?uniqid%3D30265865-34056-5c38dbba-0026bda6%26linkid%3D6&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNGG-0R8Ld24k5mdX_w4a2PGT9MsvA">Get Support</a> |
                    <a href="https://www.freelancer.com/give?from=email_footer&amp;uniqid=30265865-34056-5c38dbba-0026bda6&amp;linkid=7" style="color:#75787d;text-decoration:underline;font-family:Helvetica,Arial,sans-serif" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.freelancer.com/give?from%3Demail_footer%26uniqid%3D30265865-34056-5c38dbba-0026bda6%26linkid%3D7&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNEVzrve4bf4-nM_sWqtW_GJVSaW3w">Get Free Credit</a></span></td>
                                            </tr>
                                            <tr>
                                                <td height="16" width="100%"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" width="100%">
                                                    <table width="auto" align="center" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="https://www.facebook.com/fansoffreelancer" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/fansoffreelancer&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNGNGdD_ofcja_DXHWmBvjhdIPctFw"><img src="https://ci3.googleusercontent.com/proxy/4VM8xEZ_9S9zUCOLNAeT7KNfvnzuVv0JE_JZY6qEYWviCmnLVJ2ODZQz16aKaW6BFp1qHvG7dn69v0NFolGsCU0ccKdUlEbNcxM6ls8MNISHKyjbuJj4uwu4kbexNl4ZRHOK55TX3U3b0COnDTRZ7GJRuWMuhV0=s0-d-e1-ft#https://d3bvzwcd1dw6vt.cloudfront.net/static/images/email/build/19bacfd0c58e6a35b841790d89354564.png"
                                                                            width="24" alt="Facebook" border="0" class="CToWUd"></a>&nbsp;
                                                                    <a href="https://twitter.com/freelancer" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/freelancer&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNHkhwPLzYFb0iEj6u-0i4HJsvQ75g"><img src="https://ci4.googleusercontent.com/proxy/_EaQ7b2M5Jw7oiHdjnd72lYCrE5eXrdFKfZ3rc7s5DEscez29r1ecMdHaWZtLrfAYSzKSJKO_2TJ-h_UDuPQqn8dqKRbCAeXgbkSQoxqtRley3mJn9njZ8QlHljTaI520uEwrajd-r_XQn_4IPY5t-kzqoejgL4=s0-d-e1-ft#https://d3bvzwcd1dw6vt.cloudfront.net/static/images/email/build/cf858d8bbdf01f6d8f3a7f3ecb08f266.png"
                                                                            width="24" alt="Twitter" border="0" class="CToWUd"></a>&nbsp;
                                                                    <a href="https://plus.google.com/u/0/100130810430706051779/posts" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://plus.google.com/u/0/100130810430706051779/posts&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNFtMhnIoUXczcSzzubW33cLkAtJww"><img width="24" src="https://ci3.googleusercontent.com/proxy/vvHCuORS-XKQD5cbw5gacNLqeW2y4ECD1Rwq5EnpzHYmaJV-XM7FaOpZ2toZF87EKhT0Bc-OFWtect-ZgMe5ZimFzm46O_oYOwVVNeQymrUG8gUNW7aEgyt2W9hTYIzdcBTQ8gQ7gdFdARCaTjY9uIejWeOUCUs=s0-d-e1-ft#https://d3bvzwcd1dw6vt.cloudfront.net/static/images/email/build/760f14fd3cca5a4ebcc0632073625674.png"
                                                                            alt="Google+" border="0" class="CToWUd"></a>&nbsp;
                                                                    <a href="https://www.instagram.com/freelancerofficial" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/freelancerofficial&amp;source=gmail&amp;ust=1547382892011000&amp;usg=AFQjCNHYXp2xG4L-URtHvRTvJb__W3UkQg"><img width="24" src="https://ci5.googleusercontent.com/proxy/YdOs4QeEn4G29g2b9DWL1A4oXmx4tNoT_sDKofdZGxWoAai7NpWslPrYRYxrVrvq2vpwbsHfb2ty8fHwUHmkwpms2r_lcdHjSEOKe-GbCizKJQpebTjHELmZw4nl6B0FxVUne8y1Z6hBNjt_1fAwogUfqcaYkkw=s0-d-e1-ft#https://d3bvzwcd1dw6vt.cloudfront.net/static/images/email/build/7517195fa748ffb4ccc210202e644d7d.png"
                                                                            alt="Instagram" border="0" class="CToWUd"></a>&nbsp;
                                                                </td>
                                                                <td width="16"></td>
                                                                <td><a href="https://bnc.lt/edm-download-freelancer" style="text-decoration:none;color:#75787d;font-size:12px;line-height:18px;font-family:Helvetica,Arial,sans-serif" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://bnc.lt/edm-download-freelancer&amp;source=gmail&amp;ust=1547382892012000&amp;usg=AFQjCNHMRVNx_DyVZVrpfEeu7WNwtneYRQ">Download our mobile app</a></td>
                                                                <td width="4"></td>
                                                                <td>
                                                                    <a href="https://bnc.lt/edm-download-freelancer" style="color:#75787d;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://bnc.lt/edm-download-freelancer&amp;source=gmail&amp;ust=1547382892012000&amp;usg=AFQjCNHMRVNx_DyVZVrpfEeu7WNwtneYRQ"><img src="https://ci3.googleusercontent.com/proxy/JuCIV-IM7JijD7gX4XDZPiZHb7BlqxuDfK9xqWJoiQObq91sA6xJjSrk_jLR0Kt0Zfc5OoRc1b_kovLkbTY-ax56KNXuBfsHPbWJIBkIf0TYa6nrsrp6QQoTGpHDsBoXkvX2x4WwmZIQoBdENWj_aVJL5x4DYVM=s0-d-e1-ft#https://d3bvzwcd1dw6vt.cloudfront.net/static/images/email/build/b98e76935f88dac4cbd67e14f237d7cc.png"
                                                                            width="38" border="0" style="display:inline" class="CToWUd"></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" height="32"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table><img src="https://ci5.googleusercontent.com/proxy/meEI5Xv8wSdNKOLsXcOXyVH-VcR0SCSdEcuK48j__6KmhrhACFyQ0iWnQhHg9tiz8UiMsX3vUE_vSxaLUJvgXlIg7JCbwoDfgDpYNrbQRtrQRzuoimpGXoNNP0RJ5Y9zz8Gq8IBBOmTRq6KtfG49Xe0l-N-Pl2h6fVf9vYSuGSmle988kTL-_A=s0-d-e1-ft#https://t.freelancer.com/1px.gif?en=email-tracking.opened&amp;acct=.freelancer.in&amp;uniqid=30265865-34056-5c38dbba-0026bda6"
                        style="border:1px solid #d9d9d9" class="CToWUd"></div>
            </div>
            <div class="yj6qo"></div>
        </div>
        <div id=":1g5" class="ii gt" style="display:none">
            <div id=":1g6" class="a3s aXjCH undefined"></div>
        </div>
        <div class="hi"></div>
    </div>
</body>

</html>